<div class="card card-body">
  <h3 class="text-center font-weight-bold ">
    Quản Lý Thành Viên
  </h3>
</div>
<div class="card card-body">
  <div id="table" class="table-editable">
    <div class="table_header">
      <div class="input_header">
        <span>Hiển Thị Thành Viên</span>
        <label for="all">
          <input type="radio" id="all" name="member" value="Tất cả">Tất cả
        </label>
        <label for="vip">
          <input type="radio" id="vip" name="member" value="Vip">Vip
        </label>
        <label for="normally">
          <input type="radio" id="normally" name="member" value="Normally">Thông thường
        </label>
      </div>

      <div class="col-6 d-flex" style="justify-content: end">
        <div class="mx-1">
          <input style="width: 300px" class="header-search search-input background-search"
                 placeholder="Bạn cần tìm gì?" type="text"><i class="fa fa-search"
                                                              style="position: absolute; right: 110px; top: 8px; font-size: 20px"></i>
        </div>
        <div>
          <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#test">Tìm Kiếm</button>
        </div>
      </div>
    </div>
    <div>
      <div class="tbl-header">
        <table class="table table-bordered table-responsive-md ">
          <thead style="background-color: #6eb9f7">
          <tr>
            <th class="text-center">Tên thành viên</th>
            <th class="text-center">Vip</th>
            <th class="text-center">Ngày tham gia</th>
            <th class="text-center">Số xu</th>
            <th class="text-center">Số lần vi phạm</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table class=" table table-bordered table-responsive-md">
          <tbody>
          <tr>
            <td>
              <a href="#">Mạc Mai Trung Hiếu</a>
            </td>
            <td>
              <a class="button" href="#popup1"><i class="fa-solid fa-circle-xmark red"></i></a>
            </td>
            <td>20/06/2012</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>
              <a href="#">Phạm Trần Đăng Khoa</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-check green"></i></a>
            </td>
            <td>11/06/2000</td>
            <td>1,000,000</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              <a href="">Võ Công Khoa</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-xmark red"></i></a>
            </td>
            <td>19/01/2013</td>
            <td>0</td>
            <td>1</td>
          </tr>
          <tr>
            <td>
              <a href="">Phan Anh Tuấn</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-check green"></i></a>
            </td>
            <td>11/11/2011</td>
            <td>300</td>
            <td>3</td>
          </tr>
          <tr>
            <td>
              <a href="">Nguyễn Hữu Huy</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-check green"></i></a>
            </td>
            <td>23/12/2022</td>
            <td>216</td>
            <td>1</td>
          </tr>
          <tr>
            <td>
              <a href="">Lê Văn Chiến</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-xmark red"></i></a>
            </td>
            <td>08/02/2007</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              <a href="">Phạm Văn Hậu</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-check green"></i></a>
            </td>
            <td>04/03/2001</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>
              <a href="">Nguyễn Quốc Tuấn</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-xmark red"></i></a>
            </td>
            <td>22/07/1999</td>
            <td>0</td>
            <td>9</td>
          </tr>
          <tr>
            <td>
              <a href="">Nguyễn Hữu Lê Long</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-check green"></i></a>
            </td>
            <td>16/07/1989</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>
              <a href="">Trương Trịnh Khải</a>
            </td>
            <td>
              <a class="button" href="#"><i class="fa-solid fa-circle-check green"></i></a>
            </td>
            <td>24/10/1897</td>
            <td>1,950</td>
            <td>4</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p></p>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link">Trang trước</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Trang Sau</a>
    </li>
  </ul>
</nav>
