<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top sticky-header">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
      <a class="navbar-brand logo" href="">
        <img style="background-color: #fd267a;
                background-image: linear-gradient(45deg,#fd267a,#ff6036); height: 5rem; width: 7.5rem; border-radius: 1rem"  class="logo-default"
             src="assets\images\Dating.png" alt="logo"/>
        <img style="height: 5rem" width="120rem" class="logo-white" src="assets\images\Dating.png" alt="logo"/>
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex">
        <input style="border-radius: 20px" class="form-control me-2" type="search" placeholder="Tìm kiếm tình yêu" aria-label="Search">
      </form>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Bạn bè
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="index.html">Lời mời kết bạn</a>
              <a class="dropdown-item" href="onepage-slider.html">Gợi ý kết bạn</a>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/guest-member">Quản lý thành viên</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="">Top 100</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="">Nhận phản hồi</a>
          </li>
          <!--                    <li class="nav-item dropdown">-->
          <!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
          <!--                           data-toggle="dropdown"-->
          <!--                           aria-haspopup="true" aria-expanded="false">-->
          <!--                            Pages-->
          <!--                        </a>-->
          <!--                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--                            <a class="dropdown-item" href="404.html">404 Page</a>-->
          <!--                            <a class="dropdown-item" href="blog.html">Blog Page</a>-->
          <!--                            <a class="dropdown-item" href="single-post.html">Blog Single Page</a>-->
          <!--                        </div>-->
          <!--                    </li>-->
        </ul>
        <button data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
                href="">Đăng nhập</button>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

