<header>
  <div class="container">
    <div class="menu-bar-content">
      <ul>
        <li class="logo"><a href="#">MEETFRIEND</a></li>
        <!-- <li><a href="#">Đà Nẵng <i class="fa fa-sort-down"></i></a></li> -->
        <li><input style="width: 300px" class="header-search" placeholder="Bạn cần tìm gì?" type="text"><i
          class="fa fa-search"></i></li>
        <li><a href="#">Quản lý Website <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Đăng thông báo</a></li>
              <li><a href="#">Quản lý hội nhóm</a></li>
              <li><a href="#">Quản lý bài đăng</a></li>
              <li><a href="#">Quản lý hội viên</a></li>
              <li><a href="#">Nhận phản hồi</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Quản lý hộp thư <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Đọc thư</a></li>
              <li><a href="#">Gửi thư</a></li>
              <li><a href="#">Xóa thư</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Quản lý thông tin cá nhân <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Đổi ảnh đại diện</a></li>
              <li><a href="#">Đăng Status/Comment</a></li>
              <li><a href="#">Thiết lập trạng thái</a></li>
              <li><a href="#">Đổi mật khẩu</a></li>
              <li><a href="#">Tặng quà</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Quản lý bạn bè <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Xem lời mời kết bạn</a></li>
              <li><a href="#">Gửi lời mời kết bạn</a></li>
              <li><a href="#">Xem thông tin bạn bè</a></li>
            </ul>
          </div>
        <li [hidden]="isLoggedIn" class="header-item-login"><a [routerLink]="['/login']">Đăng nhập</a></li>
        <li [hidden]="!isLoggedIn">
          <div class="header-item header-item-menu">
            <div class="header-icon">
              <img src="{{imageLink}}"
                   alt="" style="border-radius: 50%;width: 40px; height: 40px; object-fit: cover">
              {{username}} <i class="fa-solid fa-angle-down"></i>

            </div>
            <div class="header-text">
<!--              {{username}} <i class="fa-solid fa-angle-down"></i>-->
            </div>
          </div>
          <div class="sub-menu">
            <ul>
              <li><a [routerLink]="['/personal-information']">Thông tin cá nhân</a></li>
              <li><a [routerLink]="['/change-personal-password']">Bảo mật</a></li>
              <li><a (click)="logOut()">Đăng xuất</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>











