<div class="container-fluid" id="main-container" style="background-color: orchid">

  <div>
    <h3 STYLE="text-align: center; padding-top: 20px">DANH SÁCH BẠN BÈ</h3>
  </div>

  <div class="row col-6 justify-content-between ml-1" style="margin-top: 100px">
    <div>
      <input #names [ngModel]="name" (change)="search(names.value)" style="width: 250px"
             class="header-search search-input" placeholder="Nhập tên bạn bè ?"
             type="text"><i (click)="getAll()"
                            class="fa fa-repeat"
                            style="position: relative; right: 26px; top: 3px; font-size: 18px"></i>
    </div>
  </div>

  <div *ngIf="message">
    <p class="d-flex justify-content-center font-weight-bold text-uppercase" style="color: red"> Không tìm thấy dữ liệu</p>
  </div>


  <div *ngIf="!message">
    <div class="container-fluid" style="display: flex ;justify-content: center ; align-content: center ; margin-top: 10px">
      <div class="container-fluid">
        <div class="row d-inline-flex">

          <div *ngFor="let f of friends">
            <div class="card  shadow-lg p-3 mb-5 bg-white " style="width: 18rem; margin-right: 12px">
              <img src="{{f.image}}" width="130" height="200" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{f.name}}</h5>
                <p class="desc" data-toggle="tooltip" data-placement="top" title="{{f.address}}">{{f.address}}</p>
                <small class="card-text">
                  {{f.dateOfBirth}}
                </small><br>
                <p></p>

                <div style="display: flex; justify-content: space-between;margin-top: 10px">
                  <button style="display: flex; justify-content: center; align-items: center" type="button"
                          class="btn btn-grad-blue" data-toggle="modal"
                          data-target="#exampleModaltest">
                    <span><a (click)="onOpenBlockModal(f)" style="color: white">
                      <i class="fa-solid fa-xmark"></i> Chặn</a></span>
                  </button>

                  <button style="display: flex; justify-content: center ; align-items: center" type="button"
                          class="btn btn-grad-red mx-2" data-toggle="modal"
                          data-target="#exampleModaltest">
                  <span><a (click)="onOpenDeleteModal(f)" style="color: white">
                    <i class="fa fa-trash"></i>Xóa</a></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="message"></div>

  <div style="display: flex; justify-content: center">
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center">
      <p class="page-link">{{(page + 1) + '/' + totalPages}}</p>
    </div>

    <!--        Pagination-->
    <div class="col-4">
      <nav class="d-flex justify-content-end wow fadeIn">
        <ul class="pagination">
          <li *ngIf="!firsts" class="page-item">
            <button   class="page-link" (click)="previous()">Trước</button>
          </li>
          <li class="page-item active" aria-current="page">
            <button class="page-link">{{page + 1}}</button>
          </li>
          <li *ngIf="!last" class="page-item">
            <button   class="page-link" (click)="next()">Sau</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>



  <!-- Modal Delete -->
  <button [hidden]="true" #deleteButton data-toggle="modal" data-target="#exampleModal"></button>
  <div id="exampleModal" class="modal fade">
    <div class="modal-dialog modal-confirm modal-confirm-danger">
      <div class="modal-content">
        <div class="modal-header modal-header-danger justify-content-center">
          <div class="icon-box">
            <i class="fa fa-trash"></i>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center" *ngIf="check">
          <h4>Thông báo</h4>
          <p>Bạn có muốn xóa bạn <span style="color: red">{{deleteFriend.name}}</span> không ?</p>
          <p style="color: red">Lưu ý! Thao tác này không thể hoàn tác</p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-grad-blue mx-3" #closeModal data-dismiss="modal">Hủy</button>
            <button (click)="delete(closeModal)" type="button" class="btn btn-grad-red">Xóa</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Modal Block-->
  <button [hidden]="true" #deleteButton data-toggle="modal" data-target="#blockModal"></button>
  <div id="blockModal" class="modal fade">
    <div class="modal-dialog modal-confirm modal-confirm-danger">
      <div class="modal-content">
        <div class="modal-header modal-header-danger justify-content-center">
          <div class="icon-box">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center" *ngIf="check">
          <h4>Thông báo</h4>
          <p>Bạn có muốn chặn bạn <span style="color: red">{{deleteFriend.name}}</span> không ?</p>
          <p style="color: red">Lưu ý! Thao tác này không thể hoàn tác</p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-grad-blue mx-3" #closeModal data-dismiss="modal">Hủy</button>
            <button (click)="delete(closeModal)" type="button" class="btn btn-grad-red">Chặn</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
