<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <h3>Về chúng tôi</h3>
          <p>Công ty trách nhiệm hữu hạn 15 thành viên</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li><h3>NGHỀ NGHIỆP</h3></li>
            <li><a href="#">Cổng thông tin nghề nghiệp</a></li>
            <li><a href="#">Blog Công nghệ</a></li>
            <li><a href="#">Phòng báo chí</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li><h3>PHÁP LÝ</h3></li>
            <li><a href="#">Quyền riêng tư</a></li>
            <li><a href="#">Điều khoản</a></li>
            <li><a href="#">Chính sách Cookie</a></li>
            <li><a href="#">Sở Hữu Trí Tuệ</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li><h3>Kết nối với chúng tôi</h3></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>Copyright 2022. All rights reserved.</h5>
    <h6>Design and Developed by <a href="">HieuMMT</a></h6>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->
